<div ng-controller="homeCtrl">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron text-center">
        <div class="col-md-8">
            <h1>The Budgeteer</h1>
            <p>One for all, all for one... budget.</p>
            <p>
                <a class="btn btn-lg btn-primary" ui-sref="register" role="button">Become a Budgeteer »</a>
            </p>
        </div>

        <div class="col-md-4">
            <div fa-login></div>
        </div>
    </div>

    <h3 style="font-weight:400;">Want to try out Budgeteer Now?</h3>
    <p>
        Create a new account quickly through our <b>guided registration</b>, or view everything with our display account
        <br />user: adminUser
        <br />password: password
    </p>

</div>